<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>개진</title>
    <style>
      h1{
        color : #ffffff;
      }
      body{
        background-color:#046380
      }
      .mainbar{
        background-color: #ffffff;
        width : 100%;
        height: 30px;
      }
    </style>
  </head>
  <body>
    <h1>Main Page</h1>
    <div class = "mainbar">바밤바메뉴바드록바</div>
  </body>
</html>
